/* ============================================
RESET I BASE
============================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1a202c;
  line-height: 1.6;
  background-color: #f7fafc;
}

/* ============================================
MENÚ 
/* ============================================
OFERTES DESTACADES
===============================NAVIGATION STICKY
============================================ */
.logo img {
  width: 3rem;
  filter: invert(100%);
  margin-right: 1rem;
  vertical-align: bottom;
}
.logo span {
  font-weight: bold;
  font-size: 1.75rem;
}

header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  text-align: center;
}
#navegacio {
  margin: 0 auto;
  padding: 0 1rem;

  margin-top: 1.67rem;
}
nav {
}

.nav-menu {
  display: inline-block;
  margin-left: 3rem;
}
nav a {
  color: #ffffff;
}
nav li {
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  margin-left: 1rem;
  /*FONS I COLOR DEL BACKGROUND*/
  border: solid 1px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  text-shadow: 1px 1px black;
}
a {
  text-decoration: none;
}



/* ============================================
HERO SECTION AMB PARALLAX
============================================ */
.hero { 
  background-image: url(./../img/hero-section.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
  padding: 18rem;
}

.hero-content {
  color: #ffffff;
  max-width: 500px;
  margin: 0 auto;
  text-shadow: 0 0 5px black;
}

.hero-content h1 {
  font-size: 3rem;

}
.btn-glass {
  color: #ffffff;
  border: solid 1px rgb(255,255,255, 0.25);
  border-radius: 1.25rem;
  line-height: 5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2) ;
  backdrop-filter: blur(3px) ;
}

/* ============================================
SECCIÓ DESTINACIONS POPULARS
============================================ */
h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.section-description {
  text-align: center;
  margin-bottom: 2rem;
}

#destinacions{
  padding: 3rem;
  max-width: 100%;
}
article img{
  width: 100%;
}

.travel-card {
  display: inline-block;
  max-width: 31%;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  overflow: hidden;
  margin-left: 1rem;
}
.card-content {
  padding: 1.25rem;
  margin-bottom: 1rem;
}
.card-content h3{
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.card-content p {
  max-width: 60%;
  margin-bottom: 1rem;
}
.card-price {
  margin: 1.5rem 0 1.5rem 0;
  color: #21bfa5;
  font-weight: bold;
  font-size: 1.75rem;
}
.btn-card {
  border-radius: 0.6rem;
  background-color: #3498db;
  padding: 1rem 1.5rem;
  color: #ffffff;
  font-weight: bold;
  border: solid 2px #3193d4;
  margin-bottom: 1rem;
  transition: 1s;
}
.btn-card:hover {
  outline: solid 2px white;
  background-color: #2ae07c;
  color:  white;
  border-radius: 1rem;
  border: solid 2px #2ae07c;
}
/* ============================================
OFERTES DESTACADES
============================================ */
.card-container img {
  width: 100%;
}
.featured-card {
  max-width: 22.5%;
  margin: 1%;
  display: inline-block;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  overflow: hidden;
  ;
}
.featured-badge {
  background-color: #dc4637;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  padding: 1rem;
  text-transform: uppercase;
}
.featured-content {
  padding: 1rem;
}

.featured-card h3 {
  margin-bottom: 1rem;

}
.featured-card p {
  margin-bottom: 1rem;
}
.featured-price {
  margin-bottom: 1rem;
  color: #e74c3c;
  font-weight: bold;
  text-decoration: line-through;
  font-size: 1.1rem;
}
.featured-price-new {
  color: #33bc9c;
  font-weight: bold;
  font-size: 1.7rem;
}
/* ============================================
FOOTER
============================================ */
footer {
  background-color: #293242;
  text-align: center;
  padding: 2rem;

}
footer h3 {
  color: #1abc9c;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
footer p {
  color: white;
  font-size: 0.8rem;
}